[Unit]
Description=Lid Service
After=network.target

[Service]
User=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/systemd-lid

[Install]
WantedBy=multi-user.target
